<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Title</title>
</head>
<body ng-controller="firstCtrl">
    <h1>Добавь задание!</h1>
    <form action="#">
        <input type="text" ng-model="tempInput"/>
        <button ng-click="addNew()">Добавить</button>
    </form>
    <div>
        <p ng-repeat="task in tasksArray">{{task}} <button ng-click="deleteItem(task)">удалить</button></p>
    </div>
</body>
</html>